<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'SKJAALD.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{lookup config.consumableTypes data.consumableType }}
                </li>
                <li>
                    <select name="data.rarity">
                        {{selectOptions config.itemRarity selected=data.rarity blank="&nbsp;"}}
                    </select>
                </li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'SKJAALD.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SKJAALD.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SKJAALD.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "SKJAALD.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/skjaald/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SKJAALD.ItemConsumableDetails" }}</h3>

            {{!-- Consumable Type --}}
            <div class="form-group">
                <label>{{ localize "SKJAALD.ItemConsumableType" }}</label>
                <select name="data.consumableType">
                    {{selectOptions config.consumableTypes selected=data.consumableType}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "SKJAALD.ResourceDisplay" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.resourceDisplay" {{checked data.resourceDisplay}}/>
                </label>
            </div>

            {{#if (eq data.consumableType "focus")}}

            <div class="form-group">
                <label>{{ localize "SKJAALD.MagicalItem" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.magicalItem" {{checked data.magicalItem}}/>
                </label>
            </div>
            {{/if}}

            <div class="form-group">
                <label>{{localize "SKJAALD.Attunement"}}</label>
                <select name="data.attunement" data-dtype="Number">
                    {{selectOptions config.attunements selected=data.attunement localize=true}}
                </select>
            </div>

            <div class="form-group stacked">
                <label>{{ localize "SKJAALD.ItemConsumableStatus" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.equipped" {{checked data.equipped}}/> {{ localize "SKJAALD.Equipped" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.identified" {{checked data.identified}}/> {{ localize "SKJAALD.Identified" }}
                </label>
            </div>

            {{!-- Focus Details --}}
            {{#if (eq data.consumableType "focus")}}
            <h3 class="form-header">{{ localize "SKJAALD.ItemConsumableFocus" }}</h3>

            {{!-- Damage Type --}}
            <div class="form-group">
                <label>{{ localize "SKJAALD.DamageType" }}</label>
                <div class="form-fields">
                
                        <li class="damage-part flexrow">
                            <select name="data.alternateDamage">
                                {{#select data.alternateDamage }}
                                <option value="">{{ localize "SKJAALD.None" }}</option>
                                {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{name}}</option>
                                {{/each}}
                                {{#each config.healingTypes as |name type|}}
                                <option value="{{type}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </li>
           
                </div>
            </div>

            {{!-- Recharge Rate --}}
            <div class="form-group input-select">
                <label>{{ localize "SKJAALD.RechargeRate" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.recharge.sizeIncrease" value="{{data.recharge.sizeIncrease}}" data-dtype="Number" placeholder="{{ localize 'SKJAALD.SizeNumber' }}"/>
                    <span class="sep">/</span>
                    <input type="text" name="data.recharge.time" value="{{data.recharge.time}}" data-dtype="Number" placeholder="{{ localize 'SKJAALD.TimeNumber' }}"/>
                    <select name="data.recharge.units">
                        {{#select data.recharge.units}}
                        <option value=""></option>
                        {{#each config.rechargeTimePeriods as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            {{!-- Ammo Dice --}}
            <div class="form-group select-select">
                <label>{{ localize "SKJAALD.AmmoDie" }}</label>
                <div class="form-fields">
                    <select name="data.ammoDie.current">
                        {{#select data.ammoDie.current}}
                        <option value=""></option>
                        {{#each config.ammoDieSizes as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <span class="sep">/</span>
                    <select name="data.ammoDie.max">
                        {{#select data.ammoDie.max}}
                        <option value=""></option>
                        {{#each config.ammoDieSizes as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            {{/if}}

            <h3 class="form-header">{{ localize "SKJAALD.ItemConsumableUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "systems/skjaald/templates/items/parts/item-activation.html"}}
            {{#if data.activation.type}}
            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox" name="data.uses.autoDestroy" {{checked data.uses.autoDestroy}}/> {{ localize "SKJAALD.ItemDestroyEmpty" }}
                </label>
            </div>
            
            {{/if}}

            <h3 class="form-header">
                <div>
                    {{ localize "SKJAALD.ItemConsumableActivation" }}
                </div>
                <a class="attack-control add-attack"><i class="fas fa-plus"></i></a>
            </h3>

            {{!-- Item Action Template --}}
            {{> "systems/skjaald/templates/items/parts/item-action.html"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/skjaald/templates/actors/parts/active-effects.html"}}
        </div>
    </section>
</form>
