<div class="bioPage-grid flexcol">
    <div class="bioBoxes1-grid flexcol">
        <div class="sheet-container-well bio-well-details container-panel">
            <div class="sheet-container-panel sheet-pc-details">
                <div class="sheet-container-header"><b><u>{{ localize "SKJAALD.CharacterDetails" }}</u></b></div>
                <div class="sheet-container-body">
                    <div class="sheet-pc-detail title">
                        <label class="label">{{ localize "SKJAALD.Title" }}</label>
                        <input name="data.details.title" value={{data.details.title}}></input>
                    </div>
                    <div class="sheet-pc-detail race">
                        <label class="label">{{ localize "SKJAALD.Race" }}</label>
                        <input name="data.details.race" value="{{data.details.race}}"></input>
                    </div>
                    <div class="sheet-pc-detail eyes">
                        <label class="label">{{ localize "SKJAALD.Eyes" }}</label>
                        <input name="data.details.eyes" value="{{data.details.eyes}}"></input>
                    </div>
                    <div class="sheet-pc-detail hair">
                        <label class="label">{{ localize "SKJAALD.Hair" }}</label>
                        <input name="data.details.hair" value="{{data.details.hair}}"></input>
                    </div>
                    <div class="sheet-pc-detail alignment">
                        <label class="label">{{ localize "SKJAALD.Alignment" }}</label>
                        <select name="data.details.alignment" >
                            {{#select data.details.alignment}}
                            <option value=""></option>
                            <option value="lawgood">{{ localize "SKJAALD.LawfulGood" }}</option>
                            <option value="neutgood">{{ localize "SKJAALD.NeutralGood" }}</option>
                            <option value="chaotgood">{{ localize "SKJAALD.ChaoticGood" }}</option>
                            <option value="lawneut">{{ localize "SKJAALD.LawfulNeutral" }}</option>
                            <option value="trueneut">{{ localize "SKJAALD.TrueNeutral" }}</option>
                            <option value="chaotneut">{{ localize "SKJAALD.ChaoticNeutral" }}</option>
                            <option value="lawevil">{{ localize "SKJAALD.LawfulEvil" }}</option>
                            <option value="netuevil">{{ localize "SKJAALD.NeutralEvil" }}</option>
                            <option value="chaotevil">{{ localize "SKJAALD.ChaoticEvil" }}</option>
                            <option value="unaligned">{{ localize "SKJAALD.Unaligned" }}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="sheet-pc-detail honor-moral">
                        <label class="label">{{ localize "SKJAALD.HonorMorality" }}</label>
                        <select name="data.details.honor">
                            {{#select data.details.honor}}
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            {{/select}}
                        </select>
                        <select name="data.details.morality">
                            {{#select data.details.morality}}
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="sheet-pc-detail age">
                        <label class="label">{{ localize "SKJAALD.Age" }}</label>
                        <select name="data.details.age">
                            {{#select data.details.age}}
                            <option value=""></option>
                            <option value="young_adult">{{ localize "SKJAALD.YoungAdult" }}</option>
                            <option value="early_middle">{{ localize "SKJAALD.EarlyMidAge" }}</option>
                            <option value="late_middle">{{ localize "SKJAALD.LateMidAge" }}</option>
                            <option value="old">{{ localize "SKJAALD.Old" }}</option>
                            <option value="very_old">{{ localize "SKJAALD.VeryOld" }}</option>
                            {{/select}}
                        </select>
                        <input class="age-text" type="text" name="data.details.agedetails" value="{{data.details.agedetails}}">
                    </div>
                    <div class="sheet-pc-detail size">
                        <label class="label">{{ localize "SKJAALD.Size" }}</label>
                        <select name="data.traits.size">
                            {{#select data.traits.size}}
                            <option value="tiny">{{ localize "SKJAALD.Tiny" }}</option>
                            <option value="sm">{{ localize "SKJAALD.Small" }}</option>
                            <option value="med" selected>{{ localize "SKJAALD.Medium" }}</option>
                            <option value="lg">{{ localize "SKJAALD.Large" }}</option>
                            <option value="huge">{{ localize "SKJAALD.Huge" }}</option>
                            <option value="grg">{{ localize "SKJAALD.Gargantuan" }}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="sheet-pc-detail build">
                        <label class="label">{{ localize "SKJAALD.Build" }}</label>
                        <input name="data.details.build" value="{{data.details.build}}"></input>
                    </div>
                    <div class="sheet-pc-detail height">
                        <label class="label">{{ localize "SKJAALD.Height" }}</label>
                        <select name="data.details.height">
                            {{#select data.details.height}}
                            <option value=""></option>
                            <option value="very_short">{{ localize "SKJAALD.VeryShort" }}</option>
                            <option value="short">{{ localize "SKJAALD.Short" }}</option>
                            <option value="average">{{ localize "SKJAALD.Average" }}</option>
                            <option value="tall">{{ localize "SKJAALD.Tall" }}</option>
                            <option value="very_tall">{{ localize "SKJAALD.VeryTall" }}</option>
                            {{/select}}
                        </select>
                        <input class="height-text" type="text" name="data.details.heightdetails" value="{{data.details.heightdetails}}">
                    </div>
                    <div class="sheet-pc-detail weight">
                        <label class="label">{{ localize "SKJAALD.Weight" }}</label>
                        <select name="data.details.weight">
                            {{#select data.details.weight}}
                            <option value=""></option>
                            <option value="very_thin">{{ localize "SKJAALD.VeryThin" }}</option>
                            <option value="thin">{{ localize "SKJAALD.Thin" }}</option>
                            <option value="average">{{ localize "SKJAALD.Average" }}</option>
                            <option value="fat">{{ localize "SKJAALD.Fat" }}</option>
                            <option value="very_fat">{{ localize "SKJAALD.VeryFat" }}</option>
                            {{/select}}
                        </select>
                        <input class="weight-text" type="text" name="data.details.weightdetails" value="{{data.details.weightdetails}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="sheet-container-box bio-phy-features container-panel">
            <div class="sheet-container-header"><b><u>
                {{ localize "SKJAALD.PhysicalFeatures" }}</u></b> 
                <a class="item-control bio-edit appearance" title="{{localize 'SKJAALD.ItemEdit'}}"><i class="fas fa-edit"></i></a>
            </div>

            {{{ data.details.appearance }}}
        </div>

        <div class="sheet-container-box bio-family container-panel">
            <div class="sheet-container-header"><b><u>
                {{ localize "SKJAALD.Family" }}</u></b> 
                <a class="item-control bio-edit family" title="{{localize 'SKJAALD.ItemEdit'}}"><i class="fas fa-edit"></i></a>
            </div>
            {{{ data.details.family }}}
        </div>

        <div class="sheet-container-box bio-secrets container-panel">
            <div class="sheet-container-header"><b><u>
                {{ localize "SKJAALD.Secrets" }}</u></b> 
                <a class="item-control bio-edit secrets" title="{{localize 'SKJAALD.ItemEdit'}}"><i class="fas fa-edit"></i></a>

            </div>
            {{{ data.details.secrets }}}
        </div>
    </div>
    <div class="bioBoxes2-grid flexcol">
        <div class="sheet-container-box bio-personality container-panel">
            <div class="sheet-container-header"><b><u>
                {{ localize "SKJAALD.PersonalityTraits" }}</u></b>    
                <a class="item-control bio-edit traits personality" title="{{localize 'SKJAALD.ItemEdit'}}"><i class="fas fa-edit"></i></a>
            </div>
                {{{ data.details.traits }}}
        </div>
        <div class="sheet-container-box bio-ideals container-panel">
            <div class="sheet-container-header"><b><u>
                {{ localize "SKJAALD.Ideals" }}</u></b> 
                <a class="item-control bio-edit ideal" title="{{localize 'SKJAALD.ItemEdit'}}"><i class="fas fa-edit"></i></a>
            </div>
                {{{ data.details.ideal }}}
        </div>
        <div class="sheet-container-box bio-bonds container-panel">
            <div class="sheet-container-header"><b><u>
                {{ localize "SKJAALD.Bonds" }}</u></b> 
                <a class="item-control bio-edit bond" title="{{localize 'SKJAALD.ItemEdit'}}"><i class="fas fa-edit"></i></a>
            </div>
                {{{ data.details.bond }}}
        </div>
        <div class="sheet-container-box bio-flaws container-panel">
            <div class="sheet-container-header"><b><u>
                {{ localize "SKJAALD.Flaws" }}</u></b> 
                <a class="item-control bio-edit flaw" title="{{localize 'SKJAALD.ItemEdit'}}"><i class="fas fa-edit"></i></a>
            </div>
                {{{ data.details.flaw }}}
        </div>
        <div class="sheet-container-box bio-habits container-panel">
            <div class="sheet-container-header"><b><u>
                {{ localize "SKJAALD.Habits" }}</u></b> 
                <a class="item-control bio-edit habits" title="{{localize 'SKJAALD.ItemEdit'}}"><i class="fas fa-edit"></i></a>
            </div>

            {{{ data.details.habits }}}
        </div>
        <div class="sheet-container-box bio-quest container-panel">
            <div class="sheet-container-header"><b><u>
                {{ localize "SKJAALD.Quest" }}</u></b> 
                <a class="item-control bio-edit quest" title="{{localize 'SKJAALD.ItemEdit'}}"><i class="fas fa-edit"></i></a>

            </div>
            {{{ data.details.quest }}}
        </div>
    </div>
    <div class="bio-events container-panel">
        <section class="bioPage-memory-events flexcol">
            {{!-- Memories & Events --}}
            {{> "systems/skjaald/templates/actors/parts/actor-textblocks.html" sections=events}}
        </section>
    </div>

</div>