

            <li class="attribute maxhp container-box container-panel">
                <div class="attribute-value container-box-body auto-calc-value health-calc">
                    <input class="duplicate" type="text" name="data.attributes.hp.grit2" value="{{data.attributes.hp.grit}}" data-dtype="Number"/>
                </div>
                <div class="attribute-name container-box-header">
                    {{ localize "SKJAALD.Grit" }}
                </div>
            </li>

            <li class="attribute hp container-box container-panel">
                <div class="attribute-value container-box-body auto-calc-value health-cal">
                <input class="duplicate" type="text" name="data.attributes.hp.value2" value="{{data.attributes.hp.value}}" data-dtype="Number"/>
                /
                <input class="duplicate" type="text" name="data.attributes.hp.max2" value="{{data.attributes.hp.max}}" data-dtype="Number"/>
                </div>
                <h5 class="attribute-name container-box-header">
                    {{ localize "SKJAALD.HitPoints" }}
                </h5>
                <class="container-box-footer">
                    <span>Current</span>
                    <span>Max</span>
                    </class>
            </li>

            <li class="attribute hit-dice container-box container-panel">
                <div class="attribute-value container-box-body auto-calc-value" data-property="attributes.hp">
                <input class="duplicate" type="text" name="data.attributes.hp.hitDicecurrent2" value="{{data.attributes.hp.hitDicecurrent}}" data-dtype="Number"/>
                /
                <input class="duplicate" type="text" name="data.attributes.hp.hitDiceMax2" value="{{data.attributes.hp.hitDiceMax}}" data-dtype="Number"/>
                </div>
                <h5 class="attribute-name container-box-header roll-hd rollable" data-hd-denom="{{data.attributes.hp.hitDiceDenom}}" data-action="rollHitDice">
                    {{ localize "SKJAALD.HitDice" }}
                </h5>
            </li>

            <li class="attribute wounds container-box container-panel">
                <div class="attribute-value container-box-body auto-calc-value" data-property="attributes.wounds">
                <select class="duplicate" name="data.attributes.hp.wounds2" data-type="String">
                    {{#select data.attributes.hp.wounds}}
                    <option value="0">Not Wounded</option>
                    <option value="1">Wounded</option>
                    <option value="2">Severely Wounded</option>
                    <option value="3">Critically Wounded</option>
                    {{/select}}
                </select>
                </div>
                <h5 class="attribute-name container-box-header roll-hd rollable">
                    {{ localize "SKJAALD.Wounds" }}
                </h5>
            </li>

            <li class="attribute death-saves container-box container-panel">
                <div class="attribute-value container-box-body auto-calc-value">
                    <input type="hidden" name="data.attributes.death.save12" value="{{data.attributes.death.save1}}"/>
                    <a class="proficiency-toggle skill-proficiency death-icon" >{{{data.attributes.death.icon1}}}</a>
                    <input class="duplicate-click" type="hidden" name="data.attributes.death.save22" value="{{data.attributes.death.save2}}"/>
                    <a class="proficiency-toggle skill-proficiency death-icon" >{{{data.attributes.death.icon2}}}</a>
                    <input class="duplicate-click" type="hidden" name="data.attributes.death.save32" value="{{data.attributes.death.save3}}"/>
                    <a class="proficiency-toggle skill-proficiency death-icon" >{{{data.attributes.death.icon3}}}</a>
                </div>
                <h5 class="attribute-name container-box-header rollable" data-action="rollDeathSave">
                    {{ localize "SKJAALD.DeathSave" }}
                </h5>
            </li>

            <li class="attribute exhaustEffects sheet-pc-exhaustion-details container-box container-panel">
                <ul class="sheet-container-body">
                    <li>
                        <label class="sheet-radio health0 noclick">
                            <input type="checkbox" {{checked data.attributes.exhaustion.exhaust0}}>
                            <span><strong>0:</strong> None</span>
                        </label>
                    </li>
                    <li>
                        <label class="sheet-radio health1 noclick">
                            <input type="checkbox"  {{checked data.attributes.exhaustion.exhaust1}}>
                            <span><strong>1:</strong> -1 to All d20 Rolls and Checks</span>
                        </label>
                    </li>
                    <li>
                        <label class="sheet-radio health2 noclick">
                            <input type="checkbox" {{checked data.attributes.exhaustion.exhaust2}}>
                            <span><strong>2:</strong> Any Grit Points Gained Are Halved</span>
                        </label>
                    </li>
                    <li>
                        <label class="sheet-radio health3 noclick">
                            <input type="checkbox" {{checked data.attributes.exhaustion.exhaust3}}>
                            <span><strong>3:</strong>  -2 to All d20 Rolls and Checks</span>
                        </label>
                    </li>
                    <li>
                        <label class="sheet-radio health4 noclick">
                            <input type="checkbox" {{checked data.attributes.exhaustion.exhaust4}}>
                            <span><strong>4:</strong> Disadvantage on Ability Checks</span>
                        </label>
                    </li>
                    <li>
                        <label class="sheet-radio health5 noclick">
                            <input type="checkbox"  {{checked data.attributes.exhaustion.exhaust5}}>
                            <span><strong>5:</strong> -3 to All d20 Rolls and Checks</span>
                        </label>
                    </li>
                    <li>
                        <label class="sheet-radio health6 noclick">
                            <input type="checkbox"  {{checked data.attributes.exhaustion.exhaust6}} >
                            <span><strong>6:</strong> Base movement speed is halved</span>
                        </label>
                    </li>
                    <li>
                        <label class="sheet-radio health7 noclick">
                            <input type="checkbox"  {{checked data.attributes.exhaustion.exhaust7}} >
                            <span><strong>7:</strong> -4 to All d20 Rolls and Checks</span>
                        </label>
                    </li>
                    <li>
                        <label class="sheet-radio health8 noclick">
                            <input type="checkbox"  {{checked data.attributes.exhaustion.exhaust8}} >
                            <span><strong>8:</strong> All Attributes are Temporarily Halved</span>
                        </label>
                    </li>
                    <li>
                        <label class="sheet-radio health9 noclick">
                            <input type="checkbox"  {{checked data.attributes.exhaustion.exhaust9}} >
                            <span><strong>9:</strong> -5 to All d20 Rolls and Checks</span>
                        </label>
                    </li>
                    <li>
                        <label class="sheet-radio health10 noclick">
                            <input type="checkbox"  {{checked data.attributes.exhaustion.exhaust10}} >
                            <span><strong>10:</strong> Unconscious</span>
                        </label>
                    </li>
                </ul>
                <h5 class="attribute-name container-box-header sheet-container-header">
                    {{ localize "SKJAALD.ExhaustionEffects" }}
                </h5>
            </li>
